.buttons:has(+ .class-info-container) {
  justify-content: space-between;
}

.buttons + .class-info-container {
  margin-top: 20px;
}

.class-info-container {
  border: 1px solid #ddd;
  padding: 20px 15px;
  border-radius: 8px;
}

.class-info-container > p {
  font-size: 20px;
  font-weight: bold;
}

.class-info-container > p:not(:first-child) {
  margin-top: 7px;
}

.class-info-container + .schedules-container {
  margin-top: 50px;
}

.schedules-container h3{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

/*지도 관련 CSS 추가*/
.map-preview {
 margin: 15px 0;
 width: 100%;
}

.map-preview h4 {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

/* 모달 스크롤 가능하도록 설정 */
.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

/* 저장 버튼 잘 보이게 하기 */
.modal-form .custom-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}