.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: calc(var(--z-index) + 100);
}
.modal {
  width: 100%;
  max-width: 660px;
  min-height: 30%;
  max-height: 100%;
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: calc(var(--z-index) + 101);
}
.modal.order {
  width: 100%;
  max-width: 660px;
  height: 80%;
}
.close-btn {
  display: flex;
  align-items: flex-start;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #01242d;
}

.close-icon {
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  border-bottom: 1px solid gainsboro;
}
.modal-info {
  color: #01242d;
  font-size: 1.4rem;
  font-weight: bold;
}

.modal-container {
  width: 100%;
  max-height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 40px 40px 0;
}
.modal-container p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.8;
}

.modal-container .schedule-detail h4{
  font-size: 20px;
}

.modal-container .schedule-detail p {
  margin-top: 10px;
  font-size: 18px;
}

/* modal form */
.modal-form {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.modal-form:not(:has(.datetime-form)) {
  align-items: baseline;
}

.modal-form > * {
  margin-bottom: 1rem;
  font-size: 16px;
}

.modal-form > input {
  margin-bottom: 2rem;
  padding: 10px;
}
.modal-form:not(:has(.datetime-form)) > input {
  width: 100%;
  height: 40px;
}

.modal-form > button {
  margin: auto;
}

.modal-form > textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
}